/* General values */
$contentBackgroundMargin: 1rem;
$contentBackgroundColor1: rgba(255, 255, 255, 0.8);
$contentBackgroundColor2: rgba(255, 255, 255, 0.7);
$textBorderRadius: 0.9rem;
$imageSizeIndex: 21rem;
$imageBorderRadius: 0.6rem;
$imageBorderRadiusLeft: 0 0.9rem 0.9rem 0;


